<div class="page-header">
  <h1>Settings</h1>
  <%= link_to 'Create new Synchronization', new_synchronization_path, class: 'btn btn-info' %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th width="90%"></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @synchronizations.each_pair do |synchronization_name, synchronization_params| %>
      <tr>
        <td><%= synchronization_time(synchronization_params) %></td>
        <td>
          <%= link_to 'Destroy', '/synchronizations/' + synchronization_name,
                      method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
